
:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --menu-primary-bg-color: #222;
  --menu-secondary-bg-color: #444;
  --content-bg-color: #333;
  --primary-color: #33ff99;
  --secondary-color: #00e673;
  --main-transition: 0.8s;
  --main-padding: .3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  overflow-y: scroll;
  scrollbar-color: var(--menu-secondary-bg-color) var(--menu-primary-bg-color);
  scrollbar-width: thin;
}

body {
  background: var(--content-bg-color);
}

/* Works not in Firefox */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--menu-secondary-bg-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--menu-primary-bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  position: fixed;
  width: 100%;
  z-index: 1001;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.8);
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  display: block;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem;
}

.navbar-links li:hover {
  background: var(--menu-secondary-bg-color);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

/* Content */
.content {
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.2fr 1.2fr 1.2fr;
  grid-template-areas:
    "content1 content1 content1 content1"
    "content2 content2 content3 content3"
    "content4 content5 content6 content7"
    "content8 content8 content8 content8";
  /* grid-gap: 0.2rem; */
  text-align: center;
  padding: 0 10%;
}

.content1 {
  background: #e6eeff;
  padding: var(--main-padding);
  grid-area: content1;
}

.content2 {
  background: #ccddff;
  padding: var(--main-padding);
  grid-area: content2;
}

.content3 {
  background: #b3ccff;
  padding: var(--main-padding);
  grid-area: content3;
}

.content4 {
  background: #99bbff;
  padding: var(--main-padding);
  grid-area: content4;
}

.content5 {
  background: #80aaff;
  padding: var(--main-padding);
  grid-area: content5;
}

.content6 {
  background: #6699ff;
  padding: var(--main-padding);
  grid-area: content6;
}

.content7 {
  background: #4d88ff;
  padding: var(--main-padding);
  grid-area: content7;
}

.content8 {
  background: #3377ff;
  padding: var(--main-padding);
  grid-area: content8;
}

/* SVG Content */
.content svg {
  width: 80%;
  min-width: 2rem;
  filter: grayscale(80%);
  transition: var(--main-transition);
}

.content svg:hover {
  filter: grayscale(0%);
  transition: var(--main-transition);
}

.fa-primary {
  color: var(--primary-color);
}
.fa-secondary {
  color: var(--secondary-color);
}

.footer {
  background: var(--menu-primary-bg-color);
  padding: var(--main-padding);
  text-align: center;
}

/* Splash */
#splash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--menu-primary-bg-color);
  z-index: 1002;
  transition: opacity var(--main-transition);
}

#splash.fade {
  opacity: 0;
  z-index: 0;
}

/* Tablet */
@media (max-width:1000px) {
  .content {
    padding: 0 20px;
  }
}

/* Mobile */
@media (max-width:450px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  /* Content */
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "content1 content1"
      "content2 content2"
      "content3 content3"
      "content4 content5"
      "content6 content7"
      "content8 content8";
    padding: 0 5px;
  }
}
