*{
  margin: 0;
  padding:  0;
  font-family: arial, helvetica;
  color: #fff;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://pixabay.com/get/gd0419a4b0a09facfc4b38c34df46996abf548dff4afc28f23876bfc0048b149f0d51d2dda9642aedfd837b33be0a01c5e0dee0c111ecffc75d472ee116f754cc15f09b99fb2750242c9f051e2a83d17e_1920.jpg);
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 100px;
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
.navbar ul li a::after{
  content: '';
  height: 3px;
  width: 0;
  background: #0086b3;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar ul li a:hover::after{
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  font-size: 70px;
  margin-top: 20px auto;
}
.content p{
  font-weight: 100;
  line-height: 25px;
}
.content a{
  text-decoration: none;
  color: #0086b3;
}
.content a:hover{
  cursor: pointer;
  color: #00ccb9;
  text-decoration: underline;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #0086b3;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #0086b3;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}
button:hover span{
  width: 100%;
}
