
:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  --color_0: #fff; /*font*/
  --color_1: #111; /*font2*/
  --color_2: #db7637; /*font link*/
  --color_3: #00e673; /*Content*/

  --bg-color_0: #333; /*Menu*/
  --bg-color_1: linear-gradient(#6f6bc0, #fb9272, #6f6bc0);; /*Background*/
  --bg-color_2: #444; /*Menu when active*/
  --bg-color_3: #fff; /*Inner Content*/
  --main-padding: .3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  overflow-y: scroll;
  scrollbar-color: var(--bg-color_2) var(--bg-color_0);
  scrollbar-width: thin;
}

/* Works not in Firefox */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-color_2);
}
html::-webkit-scrollbar-thumb {
  background: var(--bg-color_0);
}

body {
  background: var(--bg-color_1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color_0);
  position: fixed;
  width: 100%;
  z-index: 1001;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.8);
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.brand-title a{
  text-decoration: none;
  color: var(--color_0);
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem;
}

.navbar-links li:hover {
  background: var(--bg-color_2);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background: var(--color_0);
  border-radius: 10px;
}

.header-space {
  display: block;
  top: 0;
  height: 44px;
  background: transparent;
}

/* Content */
.content {
  height: auto;
  display: grid;
  grid-template-columns: 35% 15% 15% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "content0 content0 content0 content0"
    "content1 content2 content2 content2"
    "content3 content3 content3 content4"
    "content5 content6 content6 content6"
    "content7 content7 content7 content7";
  /* grid-gap: 0.2rem; */
  text-align: center;
  margin: 0 .8rem;
  align-items: center;
  background-color: var(--bg-color_3);
}

.content img {
  width: 100%;
  height: auto;
  min-width: 50px;
}

.content p{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--color_1);
}

.content0 {
  grid-area: content0;
}

.content1 {
  grid-area: content1;
  margin-left: 15%;
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

.content4 {
  grid-area: content4;
  margin-right: 15%;
}

.content5 {
  grid-area: content5;
  margin-left: 15%;
}

.content6 {
  grid-area: content6;
}

.content7 {
  grid-area: content7;
  padding: 2rem 0;
}

.content7 p{
  text-transform: none;
}

.content7 p a{
  text-decoration: none;
  color: var(--color_2);
}

.content7 p a:hover{
  color: #fc9a5d;
}

.footer {
  background: var(--bg-color_0);
  text-align: center;
  padding: 1.5rem 0;
}

/* Tablet */
@media (max-width:1000px) {

}

/* Mobile */
@media (max-width:455px) {
  html {
    scrollbar-width: auto;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  /* Content */
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "content0 content0"
      "content1 content2"
      "content3 content4"
      "content5 content6"
      "content7 content7";
  }
  .content p{
    font-size: 1rem;
  }
}
